.card-container-starter{
    background: #272627;
    border-radius: 30px;
    margin: 15px;
    text-align: center;
    padding: 4rem;
}
.title-container-starter{
    background: #CFA1FF;

    border-radius: 20px;
    font-size: 180%;
    padding: 1rem;
}
.content-starter{
    color: #A5A5A5;
    font-size: 100%;
    margin-top: 2rem;
}
.card-container-starter:hover{
    transform: translate3d(-10px,-10px,-10px);
    box-shadow: 4px 4px 4px #CFA1FF;
    transition: 0.4s;
}