$bg: #1b2431;
$light-text: #738297;
$dark-text: #222336;
$light-bg: #81A7F8;


@media only screen and (min-width: 600px) {
	.dashboard-main{
		padding-left: 250px;
	}
  }

.flex-title{
	display: grid;
	grid-template-columns: auto auto auto;
}
.grid-table{
	display: grid;
	grid-template-columns: auto auto;

}

.projects-header {
	color: white;
	padding: 22px;

	.count,
	.title {
		display: inline-block;
	}
	
	.count {
		color: #738297;
	}
	
	.zmdi {
		cursor: pointer;
		float: right;
		font-size: 16px;
		margin: 5px 0;
	}
	
	.title {
		font-size: 21px;
		
		+ .count {
			margin-left: 5px;
		}
	}
}
thead{
	background-color: linear-gradient(222.46deg, #A4A5FF 32.21%, rgba(255, 255, 255, 0) 67.68%), #81A7F8;;
}
.projects-table {
	background: #272627;
    border-radius: 20px;
    margin: 1rem;
    
    	
	td,
	th {
		color: #000;
		padding: 10px 22px;
		vertical-align: middle;
	}
	
	td p {
		font-size: 12px;
		color: white;
		&:last-of-type {
			color: $light-text;
			font-size: 11px;
		}
	}
	
	th {
		background-color: $light-bg;
	}
	
	tr {
		&:hover {
			background-color: lighten($dark-text, 5%);
		}
		
		&:not(:last-of-type) {
			border-bottom: 1px solid $light-bg;
		}
	}
	
	.member {
		figure,
		.member-info {
			display: inline-block;
			vertical-align: top;
		}
		
		figure + .member-info {
			margin-left: 7px;
		}
		
		img {
			border-radius: 50%;
			height: 32px;
			width: 32px;
		}
	}
	
	
}
