@media only screen and (min-width: 600px) {
    .dashboard-padding-left{
        padding-left: 30rem;
    }
  }

.container-donation{
    width: 800px;
    padding: 3%;
    background: #272627;
    text-align: center;
    border-radius: 20px;
    margin:30px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.title-donation{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 300%;
    color:#CFA1FF;
    ;
    padding: 3rem;
}
.content-donation{
    color: #f1f1f1;
    padding: 1%;
    text-align: justify;
    font-size: 120%;
}
.button-donation{
    background: #CFA1FF;

    padding: 3%;
    font-weight: bold;
    font-size: 150%;
    color: #121212;
    border-radius: 20px;
    margin-top: 3rem;
}
.container-donation:hover{
    transform: scale(1.01);
    box-shadow: 4px #CFA1FF;
    ;
}
.button-donation:hover{
    transform: scale(1.05);
   
}
.negative-dashboard-padding-left{
    margin-left: -15rem;
}